.dollar {
  height: 22px;
  width: 22px;

  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2px;
}

.dollar.on {
  background-image: url(/dollar-on.svg);
}
.dollar.off {
  background-image: url(/dollar-off.svg);
}

.price {
  display: flex;
}
