.item {
  pointer-events: all;

  h2 {
    margin: 0;
    text-transform: uppercase;
    color: var(--item-title-color);
    font-weight: 500;
  }

  .main-content {
    padding: 16px;
  }
}

.item-description {
  margin-top: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  border-left: 1px solid #636a71;
}

.item-address {
  margin-top: 16px;
  padding-left: 4px;
  font-style: italic;
}
