.rating-star {
  height: 16px;
  width: 16px;

  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2px;
}

.rating-star.empty {
  opacity: 0.1;
  background-image: var(--star-icon);
}
.rating-star.full {
  opacity: 0.9;
  background-image: var(--star-icon);
}

.rating {
  display: flex;
}
