.icon {
  height: 16px;
  width: 16px;

  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2px;
}

.item-hasBaguette {
  margin-top: 32px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
