* {
  transition: background-color, color 0.2s ease;
  box-sizing: border-box;
}

html {
  --text-h1-color: #000000;
  --item-background-color: rgba(255, 255, 255, 0.9);
  --navbar-background-color: #fff;
  --navbar-text-color: rgba(0, 0, 0, 0.8);

  --item-title-color: rgba(58, 100, 173, 0.5);
  --item-title-color-hover: rgba(58, 100, 173, 0.7);
  --item-title-color-active: rgba(58, 100, 173, 1);

  --star-icon: url(/star-light.svg);

  --filter-dropdown-background-color: #f1f1f1f5;
  --filter-dropdown-boxshadow-color: rgba(0, 0, 0, 0.2);

  --logo-background: url(/logo-light.svg);

  --item-footer-color: rgba(0, 0, 0, 0.05);
  --item-box-shadow-color: rgba(0, 0, 0, 0.25);

  --popup-color: rgba(255, 159, 124, 0.5);
  --popup-color-alt: #3a64ad20;

  --overlay-background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.6) 5%,
    rgba(255, 255, 255, 0.4) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}

html[data-theme='dark'] {
  --text-h1-color: #ffffff;
  --navbar-background-color: rgba(0, 0, 0, 0.5);
  --navbar-text-color: rgba(255, 255, 255, 0.6);

  --item-background-color: rgba(0, 0, 0, 0.7);
  --item-title-color: rgba(255, 159, 124, 0.5);
  --item-title-color-hover: rgba(255, 159, 124, 0.7);
  --item-title-color-active: rgba(255, 159, 124, 1);
  --item-footer-color: rgba(255, 255, 255, 0.2);
  --item-box-shadow-color: rgba(255, 255, 255, 0.05);

  --star-icon: url(/star-dark.svg);

  --filter-dropdown-background-color: #212121;
  --filter-dropdown-boxshadow-color: #212121;

  background-color: #212121;

  body {
    background-color: #212121 !important;
  }

  --logo-background: url(/logo-dark.svg);

  --popup-color: var(--item-title-color);
  --popup-color-alt: #3a64adff;

  --overlay-background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

body {
  color: #636a71;
  background-color: #f0f3f7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  margin-right: 40%;
  position: relative;
  z-index: 9700;

  overflow: hidden;
  min-height: 100vh;

  width: 100%;
  @media (min-width: 992px) {
    width: 620px;
  }

  background: transparent;

  pointer-events: none;
}
.pad2 {
  padding: 20px;
}

#overlay {
  position: fixed;
  z-index: 9601;
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  opacity: 1;
  @media (min-width: 992px) {
    background-image: var(--overlay-background);
  }
  pointer-events: none;
  top: 0;
  left: 0;
}

.map {
  position: fixed;
  z-index: 9600;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  height: 100vh;
  overflow: hidden;

  width: 100%;
  @media (min-width: 992px) {
    width: 130%;
  }
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #37474f;
  color: #fff;
}

.listings {
  height: 100%;
  overflow: auto;

  transition: padding-top 0.6s ease;

  padding: 0 24px 92px;
  @media (min-width: 992px) {
    padding: 48px 48px 92px;
  }
}

.listings .item {
  display: block;
  text-decoration: none;

  background-color: var(--item-background-color);
  border-radius: 8px;
  margin-top: 16px;
  // 3px 3px 5px 6px #ccc
  box-shadow: 0 3px 8px var(--item-box-shadow-color);
}

.listings .item:last-child {
  border-bottom: none;
}
.listings .item .title {
  display: block;
  font-weight: 700;
}

.title-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  h2 {
    cursor: pointer;
  }
}

.title-container .title {
  flex-grow: 1;
}
.title-container > .rating {
}

.listings .item .title small {
  font-weight: 400;
}
.listings .item.active .title {
  color: var(--item-title-color-active);
}

.listings .item .title:hover {
  color: var(--item-title-color-hover);
}
.listings .item.active {
  animation: activerightborder 0.6s infinite ease-in-out;
  .features {
    border-bottom-right-radius: 0;
  }
}
@keyframes activerightborder {
  0% {
    border-right: 8px solid var(--popup-color);
  }
  50% {
    border-right: 8px solid var(--popup-color-alt);
  }
  100% {
    border-right: 8px solid var(--popup-color);
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-image: url(/marker.svg);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8;
}

.marker.nobaguette {
  filter: grayscale(1);
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  margin-top: 30px;
  height: 106px;
  width: 106px;
  border-radius: 100%;
  background-color: transparent;
  border: 8px solid var(--item-title-color);
  .mapboxgl-popup-tip {
    display: none;
  }
  .mapboxgl-popup-content {
    display: none;
  }
  animation: aim-popup 0.6s infinite ease-in-out;
}
@keyframes aim-popup {
  0% {
    border: 8px solid var(--popup-color);
  }
  50% {
    border: 8px solid var(--popup-color-alt);
  }
  100% {
    border: 8px solid var(--popup-color);
  }
}

.bottom-right {
  position: fixed;
  bottom: 6px;
  right: 12px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 992px) {
    right: 40px;
  }

  z-index: 9999;

  .personal-branding {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    color: #ff4081;
    font-size: 0.7rem;

    @media (max-width: 992px) {
      font-size: 0.8rem;
    }

    .spacer {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: bold;
    }
    &:hover {
      color: #448aff;
    }
    a {
      color: #448aff;
      text-decoration: none;
      &:hover {
        opacity: 1;

        color: #ff4081;
      }
    }
  }
}
.logo {
  height: 128px;
  width: 256px;

  background-image: var(--logo-background);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;

  display: none;
  @media (min-width: 992px) {
    display: inherit;
  }

  cursor: pointer;
}

@media (max-width: 750px) {
  .logo {
    height: 64px;
    width: 128px;

    top: 16px;
    right: 16px;
  }
}

.navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);

  box-shadow: 1px 0 0 1px var(--navbar-background-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9900;
  height: 48px;

  display: flex;
  justify-content: space-between;

  ul:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
  }

  ul {
    list-style: none;
    @media (max-width: 992px) {
      padding-left: 8px;
    }

    li {
      display: flex;
      align-content: center;
      align-items: center;
      height: 48px;
      padding: 0 16px;
      @media (max-width: 992px) {
        padding: 0 8px;
      }

      cursor: pointer;
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: var(--filter-dropdown-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--filter-dropdown-boxshadow-color);
  z-index: 1;
  border-radius: 4px;
  padding-top: 16px;
  top: 48px;

  @media (max-width: 991px) {
    left: 10px;
    width: calc(100% - 20px);
  }
}

.dropdown-content.open {
  display: block;
}
.dropdown-content.closed {
  display: none;
}

.dropdown-content-item {
  padding: 10px 16px;
  border-radius: 4px;

  &:hover {
    background: #cccccc;
    color: white;
  }

  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.visible,
.invisible {
  transition: opacity 0.4s ease;
}

.invisible {
  opacity: 0;
}

h1 {
  margin-top: 48px;
  margin-bottom: 35vh;

  font-weight: 900;
  color: var(--text-h1-color);

  font-size: 2rem;
  line-height: 3rem;
  padding: 24px 24px 0px;
  @media (min-width: 992px) {
    font-size: 3rem;
    line-height: 4rem;
    padding: 48px 48px 0px;
    margin-bottom: 5vh;
  }
}

.hideOnSmall {
  @media (max-width: 992px) {
    display: none;
  }
}

.filter-arrow {
  height: 1rem;
  width: 1rem;

  background-image: url('/down-arrow.svg');
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;

  margin-right: 0.5rem;

  cursor: pointer;
  transition: all 0.6s;
}

.filter-arrow.open {
  transform: rotate(180deg);
}
