body {
  color: #636a71;
  background-color: #f0f3f7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  margin-right: 40%;
  position: relative;
  z-index: 9700;

  width: 60%;

  overflow: hidden;
  min-height: 100vh;

  @media (min-width: 992px) {
    width: 620px;
  }

  background: transparent;
}
.pad2 {
  padding: 20px;
}

.map {
  position: fixed;
  z-index: 9600;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  width: 130%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #37474f;
  color: #fff;
}

.listings {
  height: 100%;
  overflow: auto;

  padding: 48px 48px 92px;
  transition: padding-top 0.6s ease;
}

.listings .item {
  display: block;
  text-decoration: none;

  padding: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  margin-top: 16px;
}

.listings .item:last-child {
  border-bottom: none;
}
.listings .item .title {
  display: block;
  color: #37474f;
  font-weight: 700;
}

.title-container {
  display: flex;
}

.title-container .title {
  flex-grow: 1;
}
.title-container > .rating {
}

.listings .item .title small {
  font-weight: 400;
}
.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f;
}
.listings .item.active {
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-image: url(/marker.svg);
  background-color: rgba(0, 0, 0, 0);
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}
.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.logo {
  height: 128px;
  width: 256px;

  background-image: url(/logo.svg);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 16px;
  right: 16px;

  z-index: 9999;
}

@media (max-width: 750px) {
  .logo {
    height: 64px;
    width: 128px;

    top: 16px;
    right: 16px;
  }
}

.navbar {
  background: #fff;
  box-shadow: 1px 0 0 1px #dfe2e6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9900;
  height: 48px;

  ul {
    list-style: none;

    li {
      float: left;
      height: 48px;
      padding: 0 16px;

      cursor: pointer;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding-top: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-item {
  padding: 10px 16px;
  border-radius: 4px;

  &:hover {
    background: #cccccc;
    color: white;
  }

  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.visible,
.invisible {
  transition: opacity 0.4s ease;
}

.invisible {
  opacity: 0;
}

h1 {
  margin-top: 48px;
  padding: 48px 48px 0px;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
  color: #000;
}
